{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<main class="homepage">
    <header class="hero">
        <img src="{% static 'images/lotus.png' %}" alt="Lotus Flower" class="lotus-image">
        <h1 class="main-title">Meditation</h1>
    </header>
    <section class="intro-section">
        <p class="intro-text">
            Discover the tranquility of mind through the art of meditation. Learn techniques to relax, 
            focus, and achieve serenity in your daily life. Embrace the journey toward inner peace and
            enhanced mindfulness with sessions tailored for all experience levels. Meditation is a practice rooted in ancient tradition, offering a pathway to enhanced mental clarity, emotional calm, and physical relaxation. Suitable for everyone, regardless of age or fitness level, it involves techniques like mindfulness or focusing the mind on a particular object, thought, or activity to train attention and awareness. By engaging in meditation, individuals can achieve a mentally clear and emotionally calm and stable state. 
        </p>
    </section>
    <hr class="divider">
    <section class="offer-section">
        <h2 class="sub-title">Explore a New Way of Living</h2>
        <p class="offer-text">
            With our site, engage in a meditation journey that helps you balance your mental, emotional, 
            and physical states. Experience the bliss of true inner peace. 

            On our site, you can explore meditation that not only soothe the mind but also enhance your overall lifestyle. Whether you’re looking to reduce stress, improve your concentration, or cultivate a deeper sense of happiness, our platform is your gateway to a healthier, more mindful way of living. 
        </p>
        <p class="closing-text">
            Discover the transformative power of meditation with our community. Join us of like-minded individuals who are discovering how meditation can  
            transform daily life. Take the first step today and find out how our tailored meditations
            can fit into your lifestyle and help you reach your full potential.
            Join our community today and embark on a journey of personal growth and enlightenment. Together, we can explore new realms of possibilities and embrace a life enriched with peace and contentment.
        </p>
    </section>
</main>
{% endblock %}
