{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="gallery">
    <header class="hero">
        <h1 class="main-title">Meditations</h1>
    </header>
    <section class="explain-section">
        <p class="explain-text">
            Begin your meditation: choose session: pick from short, medium, or long sessions to fit your schedule and comfort level. Find a Quiet Space. Sit Comfortably. Close Your Eyes. Focus on Your Breath. Let Thoughts Pass. Enjoy the calm and clarity that comes from practicing meditation!
        </p>
    </section>
    <div class="item">
        <h2>Short Meditation</h2>
        <img src="{% static 'images/picture1.gif' %}" alt="Meditation Picture 1">
        <audio controls>
            <source src="{% static 'audio/audio1.mp3' %}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="item">
        <h2>Medium Meditation</h2>
        <img src="{% static 'images/picture2.gif' %}" alt="Meditation Picture 2">
        <audio controls>
            <source src="{% static 'audio/audio2.mp3' %}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="item">
        <h2>Long Meditation</h2>
        <img src="{% static 'images/picture3.gif' %}" alt="Meditation Picture 3">
        <audio controls>
            <source src="{% static 'audio/audio3.mp3' %}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
{% endblock %}
